@media(max-width: 768px){
    #github-user-name,
    #github-user-name-submit{
        width: 100%;
    }

    .profile-data .info{
        flex-direction: column;
        justify-content: center;
    }

    .profile-data .info img{
        width: 100%;
    }

    .repositories ul .repositorie-item{
        width: 100%;
    }

    .user-events-items li{
        flex-direction: column;
    }

    .more-infos .language{
        max-width: 100%;
    }

    .more-infos .language:hover{
        color: initial;
        background-color: initial;
        border: initial;
        padding-inline: initial;
    }
}