@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");


body{
    font-family: "Kumbh Sans", sans-serif; 
    background-color: #24292e;
    padding: 0 25px;
}

.devicon-github-original{
    font-size: 60px;
    color: #fff;
}

main{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 0;
    gap: 30px;
}

.search-user-container{
    width: 100%;
    background-color: #fff;
    max-width: 920px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.3);
    margin: 0 auto 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-user-container header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}   

.search-user-container header h2{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

header input{
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 7px;
    border: 0.5px solid grey;
    font-size: 17px;
}

#github-user-name-submit{
    width: 200px;
    padding: 10px;
    border: 0.5px solid grey;
    border-radius: 7px;
    cursor: pointer;
    font-size: 17px;
    margin: 20px auto 0
}

#github-user-name-submit:hover{
    color: #fff;
    background-color: hotpink;
    border-color: transparent;
}

.profile-data{
    width: 100%;
}

.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    gap: 15px;
}

.info .data{
    display: flex;
    flex-direction: column;
}

.info img{
    width: 40%;
    height: 40%;
    border: solid 5px hotpink;
    border-radius: 50%;
    object-fit: cover;
}

.repositories{
    margin-top: 20px;
    padding-block: 20px;
}

.repositories h2{
    margin-bottom: 50px;
    width: 100%;
}

.repositories ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.repositories ul li{
    display: flex;
    width: auto;
    height: auto;
}

.repositories ul li a{
    width: 100%;
    background-color: rgba(222, 222, 222, 0.4); 
    padding: 15px;
    border: 0.5px solid grey;
    border-radius: 15px;
}

.repositories ul li a:hover{
    background-color: hotpink;
    color: #fff;
}

.error-message{
    color: hotpink;
}

.error-highlight{
    border: 0.5px solid red;
    outline-color: red;
}

.followers-and-following{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    gap: 15px;
}

.followers-and-following .followers{
    background-color: hotpink;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
}

.followers-and-following .following{
    background-color: grey;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
}

.profile-link{
    background-color: #9275c7;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 15px;
    align-self: center;
}

.profile-link:hover{
    background-color: hotpink;
    color: #fff;
    transition: 0.2s ease-in-out;
}

/* 
Night Mode 
*/
.top{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

#night-mode{
    display: none;
}

label{
    cursor: pointer;
}

.slide-body{
    width: 80px;
    height: 35px;
    background-color: #9275c7;
    border-radius: 30px;
    padding-inline: 3px;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.slide-body .circle{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.5s;
}

#night-mode:checked ~ label .slide-body .circle{
    translate: 44px;
    background-color: hotpink;
}

#night-mode:checked ~ label .slide-body{
    background-color: grey;
}

/*
////////////////////////////////////////
            EVENTOS
//////////////////////////////////////
*/

.user-events{
    padding: 20px;
    background-color: rgba(146, 117, 199, 0.4);
    border-radius: 20px;    
    width: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.user-events-items{
    padding: 10px;
    width: 100%;
}

.user-events-items li{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.last-event{
    color: hotpink;
}